body {
	margin:0px;
	background-color:white;
	/*display:block;*/
  height: 100%;
  overflow:scroll;
}

header {
  width:100%;
  height:50px;
  position: fixed;
  padding-bottom: 12.5px;
  background: #FFF;
  opacity: .95;
  z-index: 5;
  border-bottom-width:1px;
  border-bottom-color:#E5E5E5;
  border-bottom-style:solid;
}

ul {
  list-style: none;
}

li {
display: inline;
}

header ul li a img {
  width: 20px;
  height:20px;
}

#divHead {
	font-family: 'Josefin Sans' sans-serif;
	font-size: 55px;
	text-align: center;
	color: black;
	display: block;
	padding-top:70px;
}

h1 {
	font-weight:bold;
	text-decoration:underline;
	text-shadow: 1px 1px black;
}

#blogsnip {
	position: relative;
	margin-left: 300px;
	margin-right: 300px;
	padding-top: 20px;
	padding-bottom: 50px;
	color: black;
	font-family: 'Josefin sans' sans-serif;
}

.date {
	font-style:italic;
	}

a {
	text-decoration: none;
	font-family: 'Josefin sans' sans-serif;
	color:#65c9ff;
}

a:visited {
color:#555;
}

a:hover {
  color:#ff65af;
}

.footer {
  margin-top:50px;
  text-align:center;
  padding-top:20px;
  width: 100%;
  display: block;
  height:50px;
  position: absolute;
  background: #FFF;
  opacity: .95;
  z-index: 5;
  border-top-width:1px;
  border-top-color:#E5E5E5;
  border-top-style:solid;
}


.footer li:not(:last-child):after{
    content: " | ";
}

.footer li {
  font-family: 'Josefin Sans', sans-serif;
}

.footer a {
  text-decoration: none;
  font-weight:bold;
}

