body {
  background-color:#ccc1b9;
}


ul {
  list-style: none;
}

li {
display: inline;
}

a {
  text-decoration: none;
  color:white;
  font-weight:bold;
  font-family: 'Rock Salt', 'Pacifico', 'Cursive';
}

a:visited {
color:black;
}

a:hover {
  color:#ff65af;
}



.socialnw ul li {
  margin-left: 65px;
}

.socialnw ul li a img {
  width: 20px;
  height:20px;
}

.center img {
  max-width: 40px;
  max-height: 40px;
}

h1 {
  text-align: center;
  position: relative;
  margin-top: -300px;
  font-size: 75px;
  font-family: 'Rock Salt', 'Pacifico', 'Cursive';
  color: white;
}

.footer {
  text-align:center;
}

.footer {
  position: relative;
  margin-top: 50px;
}

.footer li {
  text-align:center;
  padding-top: 20px;
  padding-bottom:20px;
}

.footer li:nth-child(3) {
margin-left:-10px;
}