
.ruby {
  background-color: #FF5C33 ;
 }

.javascript {
  background-color:#99C2FF;
 }

 p {
  font-family:'Nunito', sans-serif;
}

header {
  font-family:'Nunito', sans-serif;
  text-align:center;
}
